<!DOCTYPE html><html><head>
  <script src="../scripts/p5.js"></script>
  <script src="../scripts/p5.dom.min.js"></script>
  <script src="../scripts/p5.sound.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta charset="utf-8">
  <title>Authentic or Not</title>

</head>

<body>

  <p><strong>Authentic or not<strong> is an education program that teaches authentic cuisines visually. Made by Yiting Liu and Shannel Doshi for 2019 ITP Winter Show. 
  </p>

  <script src="../scripts/p5.serialport.js"></script>
  <script src="Bowl.js"></script>
  <script src="sketch.js"></script>


</body>

</html>